/* Put your css in here */

body { font-family: sans-serif; }
input { 
  font-size: 10pt;
  position: absolute;
  height: 1.2em;
  width: 52pt;
  height: 14pt;
  overflow: hidden;
  padding-left: 4pt;
}
input:focus {
 outline: none;
 border: 1px solid blue;
}
input { border: none;}
.border {
    border-bottom: 1px solid grey;
}

table { border-collapse: collapse; } 
td > div {
  width: 55pt;
  height: 16pt;
} 
td { border: 1px solid #EEE; }
.column-label  > td, .row-label {
  text-align: center;
  background: rgb(216, 211, 211);
}
.row-label { width: 2em; }